#!/usr/bin/make -f

# # Sample debian/rules that uses debhelper.
# # GNU copyright 1997 to 1999 by Joey Hess.
# #
# # Build comments:
# #  About 3.2 GB is needed on disc.
# #  orig sources are created by
# #    mkdir openscenegraph-xxx.orig
# #    cd openscenegraph-xxx.orig
# #    unzip OpenSceneGraph-xxx.zip
# #    mv OpenSceneGraph-xxx OpenSceneGraph
# #    cd ..
# #    cp -a openscenegraph-xxx.orig openscenegraph-xxx
# #    cd openscenegraph-xxx
# #    cp -a ../openscenegraph-yyy/debian .
# 

#export DH_VERBOSE=1
#export DH_OPTIONS=-v

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

include debian/manpages.gmake

ifneq (,$(filter static,$(DEB_BUILD_PROFILES)))
# dh_strip doesnt allow split symbols anyway
DH_EXCLUDES=-Nlibopenthreads-static-dbg -Nlibopenscenegraph-static-dbg
else
DH_EXCLUDES=-Nlibopenthreads-static -Nlibopenscenegraph-static -Nlibopenthreads-static-dbg -Nlibopenscenegraph-static-dbg
endif

# At the moment, CMake discards CPPFLAGS, so we have to add its value
# to C{,XX}FLAGS variables

CFLAGS += $(CPPFLAGS)
CXXFLAGS += $(CPPFLAGS)

%:
	dh  $@

# Use override_dh_* targets to customize this.

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CMAKE_BUILD_TYPE=Debug
else
	CMAKE_BUILD_TYPE=RelWithDebugInfo
endif

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

# Default to g++
CXX ?= g++

# Detect parallel builds.
ifneq (,$(findstring parallel,$(DEB_BUILD_OPTIONS)))
    PARALLEL_JOBS = $(shell echo $(DEB_BUILD_OPTIONS) | \
        sed -e 's/.*parallel=\([0-9]\+\).*/\1/')
    PARALLEL_OPTIONS = -j$(PARALLEL_JOBS)
endif

define SETAFFINITY
	grep 'sched_setaffinity.*cpusetsize' /usr/include/sched.h > /dev/null || export COMPILE_USING_TWO_PARAM_sched_setaffinity=-DCOMPILE_USING_TWO_PARAM_sched_setaffinity ; 
endef

MULTIARCH=$(shell dpkg-architecture -qDEB_BUILD_MULTIARCH)

OSG = .

ifeq (hppa,$(DEB_BUILD_ARCH))
ARCH_C_FLAGS=-mlong-calls
ARCH_CXX_FLAGS=${ARCH_C_FLAGS}
endif

CFLAGS := ${CFLAGS} ${ARCH_C_FLAGS}
CXXFLAGS := ${CXXFLAGS} ${ARCH_CXX_FLAGS}

LDFLAGS += -Wl,--as-needed

# OpenSceneGraph 3.3.1
OPENTHREADS_SOVERSION=20
OPENSCENEGRAPH_SOVERSION=111

GRAB_VERSION_COMMAND := sed -n '1s~[^(]*(\(.*\)-.*).*~\1~p' debian/changelog | sed  's~-dfsg~~'
VERSION := $(shell $(GRAB_VERSION_COMMAND))
TMPDIR := $(shell mktemp -d)
TARBALL_NAME := openscenegraph_$(VERSION).orig.tar.gz
UPSTREAM_SVN_TAG_DIR := http://svn.openscenegraph.org/osg/OpenSceneGraph/tags/OpenSceneGraph

get-orig-source:
	dh_testdir
	mkdir -p $(TMPDIR)/openscenegraph-$(VERSION)
	svn export $(UPSTREAM_SVN_TAG_DIR)-$(VERSION) $(TMPDIR)/openscenegraph-$(VERSION)/$(OSG)
	tar czvf ../$(TARBALL_NAME) -C $(TMPDIR)/ openscenegraph-$(VERSION)
	rm -rf $(TMPDIR)

clean:
	dh_testdir

	# Add here commands to clean up after the build process.
	rm -fr build
	rm -f ${MANPAGES} 
	rm -fr html
	rm -fr debian/man
	rm -fr debian/stamp-*

	perl -pi -e 's/#define OPENTHREADS_SOVERSION 15/#define OPENTHREADS_SOVERSION 14/' include/OpenThreads/Version

	dh_clean 

install-indep: build-indep
	dh_testdir
	dh_testroot
	mkdir -p debian/tmp/usr/share/openscenegraph/
	cp -r ${OSG}/examples debian/tmp/usr/share/openscenegraph

install-arch: build-arch
	dh_testdir
	dh_testroot

	# Add here commands to install the package into debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/usr
ifneq (,$(filter static,$(DEB_BUILD_PROFILES)))
	$(MAKE) -C build/osgstatic DESTDIR=$(CURDIR)/debian/tmp install
endif
	$(MAKE) -C build/osg DESTDIR=$(CURDIR)/debian/tmp install
	-mv $(CURDIR)/debian/tmp/usr/share/OpenSceneGraph/bin/* $(CURDIR)/debian/tmp/usr/bin
	-rmdir $(CURDIR)/debian/tmp/usr/share/OpenSceneGraph/bin
	-rmdir $(CURDIR)/debian/tmp/usr/share/OpenSceneGraph
	-rm -rf debian/man
	-mkdir debian/man
	for man in ${MANEXAMPLES} ; do ln -sf ../osgexamples.1 debian/man/$$man ; done
	for man in ${MANAPPLICATIONS} ; do ln -sf ../osgapplications.1 debian/man/$$man ; done

# Build architecture-independent files here.
binary-indep: install-indep
	dh_installdocs -i
	dh_installchangelogs -i -Nopenscenegraph-doc -XChangeLog
	dh_installchangelogs -p openscenegraph-doc
	dh_install -i -XCMakeLists.txt
	dh_lintian -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: install-arch
	dh_install -a ${DH_EXCLUDES}
	dh_installdocs -a
	dh_installchangelogs -a -XChangeLog
	dh_installexamples -a
	dh_installman -p openscenegraph $(addprefix debian/man/, ${MANPAGES})
	dh_lintian -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_strip -p libopenscenegraph${OPENSCENEGRAPH_SOVERSION} --dbg-package=libopenscenegraph${OPENSCENEGRAPH_SOVERSION}-dbg
	dh_strip -p libopenthreads${OPENTHREADS_SOVERSION} --dbg-package=libopenthreads${OPENTHREADS_SOVERSION}-dbg
ifneq (,$(filter static,$(DEB_BUILD_STATIC)))
	# dh_strip -p libopenscenegraph-static --dbg-package=libopenscenegraph-static-dbg
endif
	dh_strip -p openscenegraph
	dh_makeshlibs -a
	dh_shlibdeps -a -- -xfglrx -xnvidia-current
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a ${DH_EXCLUDES}

binary: binary-indep binary-arch

build: build-indep build-arch

build-indep: debian/stamp-doxygen

build-arch: debian/stamp-build

debian/stamp-doxygen:
	dh_testdir
	mkdir -p html
	doxygen debian/Doxyfile-openscenegraph
	touch debian/stamp-doxygen

debian/stamp-build: debian/stamp-configure
	dh_testdir
ifneq (,$(filter static,$(DEB_BUILD_PROFILES)))
	${MAKE} ${PARALLEL_OPTIONS} VERBOSE=1 -C build/osgstatic
endif
	${MAKE} ${PARALLEL_OPTIONS} VERBOSE=1 -C build/osg


debian/stamp-configure:
	dh_testdir

ifneq (,$(filter static,$(DEB_BUILD_PROFILES)))
	# Static
	mkdir -p build/osgstatic ; cd build/osgstatic ; ${SETAFFINITY} cmake --debug-output \
		-D CMAKE_BUILD_TYPE:STRING=${CMAKE_BUILD_TYPE} \
		-D CMAKE_INSTALL_PREFIX:PATH=/usr \
		-D DYNAMIC_OPENTHREADS:BOOL=OFF \
		-D DYNAMIC_OPENSCENEGRAPH:BOOL=OFF \
		-D BUILD_OSG_EXAMPLES:BOOL=OFF \
		-D BUILD_OSG_APPLICATIONS:BOOL=OFF \
		-D LIB_POSTFIX="/${MULTIARCH}" \
		../../${OSG}
endif

	# Dynamic
	mkdir -p build/osg; cd build/osg ; ${SETAFFINITY} cmake --debug-output \
		-D CMAKE_BUILD_TYPE:STRING=${CMAKE_BUILD_TYPE} \
		-D CMAKE_INSTALL_PREFIX:PATH=/usr \
		-D OPENTHREADS_SOVERSION:STRING=${OPENTHREADS_SOVERSION} \
		-D OPENSCENEGRAPH_SOVERSION:STRING=${OPENSCENEGRAPH_SOVERSION} \
		-D BUILD_OSG_EXAMPLES:BOOL=ON \
		-D BUILD_OSG_APPLICATIONS:BOOL=ON \
		-D LIB_POSTFIX="/${MULTIARCH}" \
		../../${OSG}

	touch debian/stamp-configure

.PHONY: build build-indep build-arch clean binary-indep binary-arch binary install-indep \
	install-arch get-orig-source
